name: Run Tests

on:
  push:
    branches:
      - "**"
    tags-ignore:
    - "**"
  # Can't run on pull_request because the API key won't be available on forks
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:

    - name: Checkout this action
      uses: actions/checkout@v5
      with:
        path: action

    - name: Checkout example mod
      uses: actions/checkout@v5
      with:
        repository: FabricMC/fabric-example-mod

    - name: Set up Java 21
      uses: actions/setup-java@v5
      with:
        java-version: "21"
        distribution: "microsoft"

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Build
      run: ./gradlew build --stacktrace

    - name: Upload backups
      uses: ./action
      with:
        api_key: ${{ secrets.WI_BACKUPS_API_KEY }}
        project: test
        version: 1.0.0
        path: build/libs/*.jar
